.App {
  text-align: center; /* Center-align text within the .App container */
}

.App-logo {
  height: 40vmin; /* Set the height of the logo to 40% of the viewport minimum dimension */
  pointer-events: none; /* Disable pointer events on the logo */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; /* Apply a spinning animation to the logo */
  }
}

.App-header {
  background-color: #282c34; /* Set the background color of the header */
  min-height: 100vh; /* Set the minimum height of the header to 100% of the viewport height */
  display: flex; /* Use flexbox layout for the header */
  flex-direction: column; /* Arrange children in a column */
  align-items: center; /* Center-align children horizontally */
  justify-content: center; /* Center-align children vertically */
  font-size: calc(
    10px + 2vmin
  ); /* Set the font size relative to the viewport */
  color: white; /* Set the text color to white */
}

.App-link {
  color: #61dafb; /* Set the link color */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); /* Start the animation with no rotation */
  }
  to {
    transform: rotate(360deg); /* End the animation with a full rotation */
  }
}
