/* DisplayPlaylists.css */

.display-playlists-container {
    display: flex;
    gap: 20px;
}

.playlists-section {
    max-height: 300px;
    overflow-y: auto;
    width: 30%;
}

.playlists-list {
    list-style: none;
    padding-left: 0;
}

.playlist-item {
    cursor: pointer;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    background-color: transparent;
    transition: background-color 0.2s;
}

.playlist-item.selected {
    background-color: #f0f0f0;
}

.playlist-item:hover {
    background-color: #e0e0e0;
}

.playlist-image {
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.tracks-section {
    width: 70%;
    max-height: 300px;
    overflow-y: auto;
}

.tracks-list {
    list-style: none;
    padding-left: 0;
}

.track-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.track-info {
    display: flex;
    align-items: center;
}

.play-icon {
    margin-right: 10px;
    cursor: pointer;
    color: green;
}

.play-icon:hover {
    color: darkgreen;
}

.remove-icon {
    cursor: pointer;
    color: red;
}

.remove-icon:hover {
    color: darkred;
}

/* Styling for delete playlist icon */
.delete-playlist-icon {
    color: #d9534f; /* Red color for delete icon */
    cursor: pointer;
    margin-left: 10px;
    font-size: 1.2rem;
  }
  
  .delete-playlist-icon:hover {
    color: #c9302c; /* Darker red on hover */
  }

  /* Styling for the trash icon */
.trash-icon {
    margin-left: 10px; /* Move it slightly to the right */
    color: red; /* Make the trashcan icon red */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  .trash-icon:hover {
    color: darkred; /* Make it darker when hovered */
  }
  

  /* Add this in your DisplayPlaylists.css */
.track-item.playing {
    background-color: #343a40; /* Darker grey background */
    color: white;
  }
  
  .track-item.playing .track-info {
    font-weight: bold; /* Bold the currently playing song */
  }
  
  