body {
  margin: 0; /* Remove default margin from the body */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; /* Set a stack of system and web-safe fonts for the body text */
  -webkit-font-smoothing: antialiased; /* Enable antialiasing for smoother fonts on WebKit browsers */
  -moz-osx-font-smoothing: grayscale; /* Enable grayscale font smoothing on macOS for Firefox */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; /* Set a stack of monospaced fonts for code elements */
}
