body {
  margin: 0; /* Remove default margin from the body */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; /* Set a stack of system and web-safe fonts for the body text */
  -webkit-font-smoothing: antialiased; /* Enable antialiasing for smoother fonts on WebKit browsers */
  -moz-osx-font-smoothing: grayscale; /* Enable grayscale font smoothing on macOS for Firefox */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; /* Set a stack of monospaced fonts for code elements */
}

/* index.css or App.css */
body, html {
  background-color: #121212; /* Set to your preferred black color */
  color: #ffffff; /* Optional: Set text color to white for better contrast */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Adjust font as needed */
}

.dashboard-container {
  background-color: #121212; /* Ensures main container also has a black background */
}

